body {
    width: 100vw;
    height: 100vh;    
    overflow: hidden;
}

canvas {        
    top: 0;
    left:0;
    position: absolute;
    top: 50%; 
    left: 50%;    
    /* only for position absolute */
    transform: translate(-50%, -50%);
}

img {
    display: none;
}